/*
This is a Cascading Style Sheet (CSS).
It describes rules for styling your HTML markup.

To use this file, place the following <link> tag anywhere in the <head> of your HTML file, making sure that the filename after "href" matches the name of your file....

<head>
<link rel="stylesheet" href="style.css">
</head>

Learn more about CSS at https://developer.mozilla.org/en-US/docs/Web/Guide/CSS

When you're done, you can delete all of this grey text, it's just a comment.
*/

/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

#boxA {
  font-size: 30px;
  width:40%;
  float: left;
}

#boxA a{
  text-decoration: none;
}

#boxB {
  float: right;
  width:40%;
}


.box-management {
  width: 55%;
  margin: 0;
  float: left;
}

.box-buy {
  float: left;
  width: 55%;
  height: 250px;
  padding: 0;
  margin: 0;
}

.box-member {
  float: right;
  width: 40%;
  height: 250px;
  padding: 0;
  margin: 0;
}

.box-aggregate{
  float: right;
  width: 40%;
  height: 250px;
  padding: 0;
  margin: 0;
}

.box-management h3, .box-buy h3, .box-member h3, .box-aggregate h3{
  border-left: 15px solid #89c3eb;
  padding: 7px;background: #bbd7ea;
}

.box-menu {
  padding: 5px;
}

.box-menu li{
  list-style-type: none;
  padding: inherit;
  display: inline;
}

a.bt-samp31{
  display: block;
  text-decoration: none;
  width: 80px;
  line-height: 37px;
  text-align: center;
  color: #2bb6c1;
  border:solid 1px #2bb6c1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
a.bt-samp31:hover{
  background: #2bb6c1;
  color: #fff;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:11px;padding:10px 14px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:11px;font-weight:normal;padding:10px 14px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-58iv{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}








/*ボツ*/
#dropmenu {
  list-style-type: none;
    height: 100px;
  padding: 0;
}

#dropmenu li {
  position: relative;
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 60px;
}

/*メニュー背景色の指定場所*/
#dropmenu li a {
  display: block;
  margin: 0;
  padding: 16px 0;
  background: #669aef/*#f19fd9*/;
  color: #fff; /*フォント色*/
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 80%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#dropmenu li ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  transition: .2s;
}

/*サブメニュー背景色の指定場所*/
#dropmenu li ul li a {
  padding: 13px 15px;
  background: #669aef;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
#dropmenu > li:hover > a {
  background: #387bea;
}
#dropmenu > li:hover li:hover > a {  background: #1559c9/*#6e7c0c*/ }
#dropmenu li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
#dropmenu li ul li ul {
  top: 0;
  left: 100%;
}
#dropmenu li:last-child ul li ul {
  left: -100%;
  width: 100%;
}
#dropmenu li ul li ul li a {
  background: #1559c9;/*#616d0b*/ }
#dropmenu li:hover ul li ul li:hover > a {  background: #124caa;/*#535d09*/ }
#dropmenu li ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: -20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #0d377c/*#454e08*/;
}
#dropmenu li:last-child ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: 200%;
  margin-left: -20px;
  border: 5px solid transparent;
  border-right-color: #0a295d/*#454e08*/;
}
